*.pyc

# Distribution / packaging
develop-eggs/
dist/
eggs/
.eggs/
*.egg-info/
*.egg

# /
/bin
/obj
.idea
/cmake-build-debug
/examples/output
/examples/starchart.log

# Downloaded and generated data files
/data/astorb.dat
/data/Soft00Cmt.txt
/data/Soft00Cmt_*.txt
/data/de4*
/data/binary_*.bin
/data/list_*.txt

# Downloaded data files
/data/constellations/downloads/hip_main.dat.gz
/data/constellations/downloads/ybsc.gz
/data/milkyWay/mwpan2_Merc_2000x1200.jpg
/data/stars/bayerAndFlamsteed/ReadMe
/data/stars/bayerAndFlamsteed/catalog.dat
/data/stars/brightStars/ReadMe
/data/stars/brightStars/catalog.gz
/data/stars/hipparcosNewReduction/ReadMe
/data/stars/hipparcosNewReduction/hip2.dat.gz
/data/stars/gaiaDR1/ReadMe
/data/stars/gaiaDR1/*.dat.gz
/data/stars/tycho1/ReadMe
/data/stars/tycho1/tyc_main.dat
/data/stars/tycho1/hip_main.dat.gz
/data/stars/tycho2/tyc2.dat.??.gz
/data/stars/tycho2/ReadMe
/data/stars/gaiaEDR3/*.gz

# /data/constellations/process_stick_figures/output/
/data/constellations/process_stick_figures/output/

# /data_processing/milky_way_map
/data_processing/milky_way_map/bin
/data_processing/milky_way_map/obj
/data_processing/milky_way_map/.idea
/data_processing/milky_way_map/cmake-build-debug
/data_processing/milky_way_map/galaxymap.log
/data_processing/milky_way_map/output

# /data_generated/milky_way_map
/data_generated/milky_way_map/galaxymap.*
/data_generated/milky_way_map/mellinger.png

# /data_generated/star_catalogue_merged
/data_generated/star_catalogue_merged/all_stars.json.gz
/data_generated/star_catalogue_merged/star_charter_stars.bin
/data_generated/star_catalogue_merged/star_charter_stars.dat.gz

# /data_generated/deep_sky_merged_catalogue
/data_generated/deep_sky_merged_catalogue/*.log
/data_generated/deep_sky_merged_catalogue/*.dat
/data_generated/deep_sky_merged_catalogue/*.txt

