*.pyc

# Distribution / packaging
develop-eggs/
dist/
eggs/
.eggs/
*.egg-info/
*.egg

# /
/bin
/obj
/.idea
/cmake-build-debug
/examples/output
/examples/starchart.log

# Input data files
/data/Soft00Cmt.txt
/data/Soft00Cmt_*.txt
/data/ascp1550.430
/data/ascp1650.430
/data/ascp1750.430
/data/ascp1850.430
/data/ascp1950.430
/data/ascp2050.430
/data/ascp2150.430
/data/ascp2250.430
/data/ascp2350.430
/data/ascp2450.430
/data/ascp2550.430
/data/astorb.dat
/data/header.430

/data/binary_*.bin
/data/list_*.txt

/data/constellations/downloads/hip_main.dat.gz
/data/constellations/downloads/ybsc.gz
/data/constellations/process_stick_figures/output/
/data/milkyWay/mwpan2_Merc_2000x1200.jpg
/data/stars/bayerAndFlamsteed/ReadMe
/data/stars/bayerAndFlamsteed/catalog.dat
/data/stars/brightStars/ReadMe
/data/stars/brightStars/catalog.gz
/data/stars/hipparcosNewReduction/ReadMe
/data/stars/hipparcosNewReduction/hip2.dat.gz
/data/stars/gaiaDR1/ReadMe
/data/stars/gaiaDR1/*.dat.gz
/data/stars/tycho1/ReadMe
/data/stars/tycho1/tyc_main.dat
/data/stars/tycho1/hip_main.dat.gz
/data/stars/tycho2/tyc2.dat.??.gz
/data/stars/tycho2/ReadMe
/data/stars/gaiaEDR3/*.gz

# /data/milkyWay/process/
/data/milkyWay/process/bin
/data/milkyWay/process/obj
/data/milkyWay/process/.idea
/data/milkyWay/process/cmake-build-debug
/data/milkyWay/process/galaxymap.log
/data/milkyWay/process/output

# /data/stars/starCataloguesMerge/
/data/stars/starCataloguesMerge/output

# /data/deepSky/ngcDistances/
/data/deepSky/ngcDistances/output

# /data/constellations/process/
/data/constellations/process/output

